body{
	background-image: url("images/rainbow2.png");
	
}
h1{
	color: #fff;
	margin: auto;
	font-family: "Courier New";
	text-align: center;
}
.blink{
		animation: blink-animation  2s steps(5, start) infinite;
		-webkit-animation: blink-animation  2s steps(5, start) infinite;
	}
	
	@keyframes blink-animation{to{visibility: hidden;}}
	@webkit-keyframes blink-animation{to{visibility: hidden;}}
	
