<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer-content">
    <img src="https://lh3.googleusercontent.com/iv713o87UHukK3FlyHXrWTEUitRq0GZqk56s1eqq_zIQDl9Ka8k00KLz56SsPvhK-nlGLM3A3sqppuHyDyMmd2fMlAtDaUfOjk8XSGvMkTvH8uyleEStQAdgHeBuBs8bkSDFXBqOTui2T1rzGL-N0LW9c1O4KGA4we1mMCJuZrBLG8iwykk7tM_8pRc5OOnCu1hDHm1SJ6vIRF5dygQh1hrBwho2c1qNW1MQgYJldAtCwR1wMakiKoclsVUj9GaovXvWrZdq5_2S4uUa9w80BdhKF1ehMx9IRswI3DlrAXMFemg6if81epFPYFWzh8ywXC7Uguv7ynnNIvBzaM-Wp2P6U595bW9yWGmF9pUu4AFeDivBlTKgQVSD30qKQqP9CdnOiPujy5I9pB4rsbZqhyA9A8qb9_fVhhCrSz92XgVdtkDJfOijs7oMQXOUy4ejBwy8maanBUWhLmzIEIVYwiJkTUWEIrgTCQwALjMjwqiXzcRZ8bLejFU-Ap5sQPC79dA5zn9bZyHUQkNFg-pNTS3APK4tNyxgB4UTC5jGekZ8Sp3pRC4ZsG_za2cJXZABLrIIm1ZpIa_WAG2LWWk9uWRFwxw3OFxQjB6eGbdmRKx8_cYBGmJw=w50-h49-no" width="30"/> <br/>
    By Gabriela Assis <i class="fa fa-heart"></i>
  </div>
</nav>
